{{ script('libs/jquery/jquery/dist/jquery') }}
{{ script('libs/jquery/bootstrap/dist/js/bootstrap') }}
{{ script('libs/js/ui-load') }}
{{ script('libs/js/ui-jp.config') }}
{{ script('libs/js/ui-jp') }}
{{ script('libs/js/ui-nav') }}
{{ script('libs/js/ui-toggle') }}
{{ script('libs/js/ui-client') }}