{{ style('libs/assets/animate.css/animate') }}
{{ style('libs/assets/font-awesome/css/font-awesome.min') }}
{{ style('libs/assets/simple-line-icons/css/simple-line-icons') }}
{{ style('libs/jquery/bootstrap/dist/css/bootstrap') }}
{{ style('libs/css/font') }}
{{ style('libs/css/app') }}