<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        @!section('title')
    </title>
    @include('includes/styles')
    @!section('additional-styles')
</head>
<body>
        <div class="app app-header-fixed ">
  

                <!-- header -->
              <header id="header" class="app-header navbar" role="menu">
                  <!-- navbar header -->
                  <div class="navbar-header bg-dark">
                    <button class="pull-right visible-xs dk" ui-toggle-class="show" target=".navbar-collapse">
                      <i class="glyphicon glyphicon-cog"></i>
                    </button>
                    <button class="pull-right visible-xs" ui-toggle-class="off-screen" target=".app-aside" ui-scroll="app">
                      <i class="glyphicon glyphicon-align-justify"></i>
                    </button>
                    <!-- brand -->
                    <a href="#/" class="navbar-brand text-lt">
                      <i class="fa fa-btc"></i>
                      <img src="{{ assetsUrl('libs/img/logo2.png') }}" alt="." class="hide">
                      <span class="hidden-folded m-l-xs">HGB</span>
                    </a>
                    <!-- / brand -->
                  </div>
                  <!-- / navbar header -->
            
                  <!-- navbar collapse -->
                  <div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">
                    <!-- buttons -->
                    <div class="nav navbar-nav hidden-xs">
                      <a href="#" class="btn no-shadow navbar-btn" ui-toggle-class="app-aside-folded" target=".app">
                        <i class="fa fa-dedent fa-fw text"></i>
                        <i class="fa fa-indent fa-fw text-active"></i>
                      </a>
                      <a href="#" class="btn no-shadow navbar-btn" ui-toggle-class="show" target="#aside-user">
                        <i class="icon-user fa-fw"></i>
                      </a>
                    </div>
                    <!-- / buttons -->
            
                    <!-- link and dropdown -->
                    <ul class="nav navbar-nav hidden-sm">
                      <li class="dropdown pos-stc">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                          <span>MY PLAN</span> 
                          <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu wrapper w-full bg-white">
                          <div class="row">
                            <div class="col-sm-4">
                              <!--<div class="m-l-xs m-t-xs m-b-xs font-bold"><span class="badge badge-sm bg-success">PACK 1 5000 + 18% GST</span></div>-->
                              <div class="m-l-xs m-t-xs m-b-xs font-bold">BUSINESS DEVELOPMENT BONUS <span class="label label-sm bg-primary">PACK 1</span></div>
            
                              <div class="row">
                                <div class="col-xs-8">
                                  <ul class="list-unstyled l-h-2x">
                                    <li>
                                      <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>8% for YourPack</a>
                                    </li>
                                    <li>
                                      <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>25 MONTHS</a>
                                    </li>
                                    <li>
                                      <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>TOTAL BONUS VALUE - 10000</a>
                                    </li>
                                    
                                  </ul>
                                </div>
                                
                              </div>
                            </div>
                            <div class="col-sm-4 b-l b-light">
                              <div class="m-l-xs m-t-xs m-b-xs font-bold">BINARY BONUS <span class="label label-sm bg-primary">PACK 1</span></div>
                              <div class="row">
                                <div class="col-xs-8">
                                  <ul class="list-unstyled l-h-2x">
                                    <li>
                                      <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>PAIR MATCHING - 400</a>
                                    </li>
                                    <li>
                                      <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>CEILING <span class="badge badge-sm bg-warning">5000</span></a>
                                    </li>
                                    
                                  </ul>
                                </div>
                              
                              </div>
                            </div>
                            <div class="col-sm-4 b-l b-light">
                              <div class="m-l-xs m-t-xs m-b-sm font-bold">TEAM GROWTH BONUS <span class="label label-sm bg-primary">5000 = 1 POINT VALUE(1 PV)</span></div>
                              <div class="row">
                                <div class="col-xs-6">
                                  <ul class="list-unstyled l-h-2x">
                                    <li>
                                      <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i> 2:2 <span class="badge badge-sm bg-warning">500</span></a>
                                    </li>
                                    <li>
                                      <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i> 4:4 <span class="badge badge-sm bg-warning">1000</span></a>
                                    </li>
                                    <li>
                                      <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i> 8:8 <span class="badge badge-sm bg-warning">2000</span></a>
                                    </li>
                                    <li>
                                      <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i> 16:16 <span class="badge badge-sm bg-warning">4000</span></a>
                                    </li>
                                    <li>
                                      <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i> 32:32 <span class="badge badge-sm bg-warning">8000</span></a>
                                    </li>
                                  </ul>
                                </div>
                                <div class="col-xs-6">
                                  <ul class="list-unstyled l-h-2x">
                                    
                                    <li>
                                      <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i> 64:64 <span class="badge badge-sm bg-warning">16000</span></a>
                                    </li>
                                    <li>
                                      <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i> 128:128 <span class="badge badge-sm bg-warning">32000</span></a>
                                    </li>
                                    <li>
                                      <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i> 256:256 <span class="badge badge-sm bg-warning">64000</span></a>
                                    </li>
                                    <li>
                                      <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i> 516:516 <span class="badge badge-sm bg-warning">128000</span></a>
                                    </li>
                                  </ul>
                                </div>
                              
                              </div>
                            <!-- <div class="text-center">
                                <div class="inline">
                                  <div ui-jq="easyPieChart" ui-options="{
                                      percent: 65,
                                      lineWidth: 50,
                                      trackColor: '#e8eff0',
                                      barColor: '#23b7e5',
                                      scaleColor: false,
                                      size: 100,
                                      rotate: 90,
                                      lineCap: 'butt',
                                      animate: 2000
                                    }">
                                  </div>
                                </div>
                              </div>-->
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
          <!-- / link and dropdown -->
            
                   <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                <i class="icon-user-follow fa-fw"></i>
                <span class="visible-xs-inline">Notifications</span>
                <span class="badge badge-sm up bg-danger pull-right-xs">2</span>
              </a>
              <!-- dropdown -->
              <div class="dropdown-menu w-xl animated fadeInUp">
                <div class="panel b-a">
          <div class="panel-heading no-border bg-primary">          
            <span class="text-lt">My Placement Share Card</span>
          </div>
          <div class="item m-l-n-xxs m-r-n-xxs">
            <div ng-init="x = 3" class="top text-right padder m-t-xs w-full">
              <rating ng-model="x" max="5" state-on="'fa fa-star text-white'" state-off="'fa fa-star-o text-white'"></rating>
            </div>
            
            <div class="bottom wrapper bg-gd-dk text-white">            
              <!--<div class="text-u-c h3 m-b-sm text-primary-lter">Coffee</div>-->
              <div>HGB GLOBAL</div>
              <div>www.hgbglobal.in</div>
            </div>
            <img src="{{ assetsUrl('libs/img/c0.jpg') }}" class="img-full">
          </div>
          <div class="hbox text-center b-b b-light text-sm">          
            <a href="" class="col padder-v text-muted b-r b-light">
              <i class="fa fa-hand-o-left block m-b-xs fa-2x"></i>
              <span>Share Left Placement</span>
            </a>
            
            <a href="" class="col padder-v text-muted">
              <i class="fa fa-hand-o-right block m-b-xs fa-2x"></i>
              <span>Share Right Placement</span>
            </a>
          </div>
          <div class="hbox text-center text-sm"> 
          <img src ="{{ assetsUrl('libs/img/logo2.png') }}" style="width: 60%;">    
            <!--<div class="text-primary-dk font-thin h2"><span> HGB GLOBAL</span></div>-->     
            <!--<a href="" class="col padder-v text-muted b-r b-light">
              <i class="icon-plus block m-b-xs fa-2x"></i>
              <span>Add a tip</span>
            </a>
            <a href="" class="col padder-v text-muted b-r b-light">
              <i class="icon-like block m-b-xs fa-2x"></i>
              <span>Like it</span>
            </a>
            <a href="" class="col padder-v text-muted">
              <i class="icon-link block m-b-xs fa-2x"></i>
              <span>Website</span>
            </a>-->
          </div>
        </div>
              </div>
              <!-- / dropdown -->
            </li>
            <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle clear" data-toggle="dropdown">
                <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                  <img src="img/a0.jpg" alt="...">
                  <i class="on md b-white bottom"></i>
                </span>
                <span class="hidden-sm hidden-md">John.Smith</span> <b class="caret"></b>
              </a>
              <!-- dropdown -->
              <ul class="dropdown-menu animated fadeInRight w">
                <li class="wrapper b-b m-b-sm bg-light m-t-n-xs">
                  <div>
                    <p>300mb of 500mb used</p>
                  </div>
                  <div class="progress progress-xs m-b-none dker">
                    <div class="progress-bar progress-bar-info" data-toggle="tooltip" data-original-title="50%" style="width: 50%"></div>
                  </div>
                </li>
                <li>
                  <a href>
                    <span class="badge bg-danger pull-right">30%</span>
                    <span>Settings</span>
                  </a>
                </li>
                <li>
                  <a ui-sref="app.page.profile">Profile</a>
                </li>
                <li>
                  <a ui-sref="app.docs">
                    <span class="label bg-info pull-right">new</span>
                    Help
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a ui-sref="access.signin">Logout</a>
                </li>
              </ul>
              <!-- / dropdown -->
            </li>
          </ul>
          <!-- / navbar right -->
                  </div>
                  <!-- / navbar collapse -->
              </header>
              <!-- / header -->
            
            
                <!-- aside -->
              <aside id="aside" class="app-aside hidden-xs bg-dark">
                  <div class="aside-wrap">
                    <div class="navi-wrap">
                      <!-- user -->
                      <div class="clearfix hidden-xs text-center hide" id="aside-user">
                        <div class="dropdown wrapper">
                          <a href="app.page.profile">
                            <span class="thumb-lg w-auto-folded avatar m-t-sm">
                              <img src="img/a0.jpg" class="img-full" alt="...">
                            </span>
                          </a>
                          <a href="#" data-toggle="dropdown" class="dropdown-toggle hidden-folded">
                            <span class="clear">
                              <span class="block m-t-sm">
                                <strong class="font-bold text-lt">John.Smith</strong> 
                                <b class="caret"></b>
                              </span>
                              <span class="text-muted text-xs block">Art Director</span>
                            </span>
                          </a>
                          <!-- dropdown -->
                          <ul class="dropdown-menu animated fadeInRight w hidden-folded">
                            <li class="wrapper b-b m-b-sm bg-info m-t-n-xs">
                              <span class="arrow top hidden-folded arrow-info"></span>
                              <div>
                                <p>300mb of 500mb used</p>
                              </div>
                              <div class="progress progress-xs m-b-none dker">
                                <div class="progress-bar bg-white" data-toggle="tooltip" data-original-title="50%" style="width: 50%"></div>
                              </div>
                            </li>
                            <li>
                              <a href>Settings</a>
                            </li>
                            <li>
                              <a href="page_profile.html">Profile</a>
                            </li>
                            <li>
                              <a href>
                                <span class="badge bg-danger pull-right">3</span>
                                Notifications
                              </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                              <a href="page_signin.html">Logout</a>
                            </li>
                          </ul>
                          <!-- / dropdown -->
                        </div>
                        <div class="line dk hidden-folded"></div>
                      </div>
                      <!-- / user -->
            
                      <!-- nav -->
                      <nav ui-nav class="navi clearfix">
                        <ul class="nav">
                          <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                            <span>Navigation</span>
                          </li>
                          <li>
                            <a href class="auto">      
                              <span class="pull-right text-muted">
                                <i class="fa fa-fw fa-angle-right text"></i>
                                <i class="fa fa-fw fa-angle-down text-active"></i>
                              </span>
                              <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
                              <span class="font-bold">Dashboard</span>
                            </a>
                          </li>
                          <li class="line dk"></li>
            
                          <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                            <span>Components</span>
                          </li>
                          <li>
                              <a href class="auto">
                                <span class="pull-right text-muted">
                                  <i class="fa fa-fw fa-angle-right text"></i>
                                  <i class="fa fa-fw fa-angle-down text-active"></i>
                                </span>
                                <i class="glyphicon glyphicon-briefcase icon"></i>
                                <span>My Account</span>
                              </a>
                              <ul class="nav nav-sub dk">
                                  <li>
                                      <a href="ui_button.html">
                                        <span>My Profile</span>
                                      </a>
                                    </li>
                                <li>
                                  <a href="ui_button.html">
                                    <span>Bank Account</span>
                                  </a>
                                </li>
                              </ul>
                            </li>
                          <li>
                            <a href class="auto">      
                              <span class="pull-right text-muted">
                                <i class="fa fa-fw fa-angle-right text"></i>
                                <i class="fa fa-fw fa-angle-down text-active"></i>
                              </span>
                              <b class="badge bg-info pull-right">3</b>
                              <i class="glyphicon glyphicon-th"></i>
                              <span>Activation</span>
                            </a>
                            <ul class="nav nav-sub dk">
                              <li>
                                <a href="layout_app.html">
                                  <span>Current Package</span>
                                </a>
                              </li>
                              <li>
                                <a href="layout_fullwidth.html">
                                  <span>Upgrade Package</span>
                                </a>
                              </li>     
                            </ul>
                          </li>
                        
                          <li>
                            <a href class="auto">
                              <span class="pull-right text-muted">
                                <i class="fa fa-fw fa-angle-right text"></i>
                                <i class="fa fa-fw fa-angle-down text-active"></i>
                              </span>
                              <b class="label bg-primary pull-right">2</b>
                              <i class="glyphicon glyphicon-list"></i>
                              <span>Bonus</span>
                            </a>
                            <ul class="nav nav-sub dk">
                              <li>
                                <a href="table_static.html">
                                  <span>BDB</span>
                                </a>
                              </li>
                              <li>
                                <a href="table_datatable.html">
                                  <span>BB</span>
                                </a>
                              </li>
                              <li>
                                <a href="table_footable.html">
                                  <span>TGB</span>
                                </a>
                              </li>
                            </ul>
                          </li>
                         
                          <li class="line dk hidden-folded"></li>

                          <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">          
                            <span>Your Stuff</span>
                          </li>  
                          <li>
                            <a href="page_profile.html">
                              <i class="icon-user icon text-success-lter"></i>
                              <b class="badge bg-success pull-right">30%</b>
                              <span>Settings</span>
                            </a>
                          </li>
                          <li>
                          <a href="{{ route('/logout') }}">
                              <i class="icon-question icon"></i>
                              <span>Logout</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                      <!-- nav -->
            
                      <!-- aside footer -->
                      <div class="wrapper m-t">
                        <div class="text-center-folded">
                          <span class="pull-right pull-none-folded">60%</span>
                          <span class="hidden-folded">Milestone</span>
                        </div>
                        <div class="progress progress-xxs m-t-sm dk">
                          <div class="progress-bar progress-bar-info" style="width: 60%;">
                          </div>
                        </div>
                        <div class="text-center-folded">
                          <span class="pull-right pull-none-folded">35%</span>
                          <span class="hidden-folded">Release</span>
                        </div>
                        <div class="progress progress-xxs m-t-sm dk">
                          <div class="progress-bar progress-bar-primary" style="width: 35%;">
                          </div>
                        </div>
                      </div>
                      <!-- / aside footer -->
                    </div>
                  </div>
              </aside>
              <!-- / aside -->
            
            
              <!-- content -->
              <div id="content" class="app-content" role="main">
                  <div class="app-content-body ">
                        @!section('content')
                  </div>
              </div>
              <!-- /content -->
              
              <!-- footer -->
              <footer id="footer" class="app-footer" role="footer">
                <div class="wrapper b-t bg-light">
                  <span class="pull-right">0.0.1 <a href ui-scroll="app" class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a></span>
                  &copy; 2019 Copyright.
                </div>
              </footer>
              <!-- / footer -->
            
            
            
            </div>
    

    @include('includes/scripts')
    @!section('additional-scripts')
</body>
</html>